<!DOCTYPE html>
<html>
  <head>
    
    <title>Uptown Beverage Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  </head>
  
  <script>

  </script>

  <style>
    .container-fluid{
        margin-top: 10px;
    }

    .col{
        background-color: white;
        color: black;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 7px;
        height: 425px;
    }
    input{
        margin-right: 2px;
        margin-left: 2px;
        margin-bottom: 2px;
        margin-top: 2px;
        width: 200px;
        height: 30px;
    }
    body{
        background-color: rgb(239, 240, 241);
    }
    button{
        width: 110px;
        height: 50px;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        margin-top: 10px;
        align-content: center;
    }

  </style>

  <body>
      
    <div class="container-fluid">

                <div class="row">
                    <div class="col" align="center">
                        <br></br>
                        <h1>Uptown Beverage</h1> 
                        <h2 id="StreetAddress">1866 Altamont Beverage</h2>
                        <h2 id="CityZip">Schenectady, NY 12303</h2>
                        </br>
                        </br>
                        <button style="width: 25%" type="button" class="btn btn-success" aria-haspopup="true" >Open</button>
                        <button style="width: 25%" type="button" class="btn btn-danger" aria-haspopup="true" >Close</button>
                        <button style="width: 50%" type="button" class="btn btn-info" aria-haspopup="true" >Contact The Manager</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col" align="center">
                        <fieldset>
                            <form action="/" method="post">
                                <h2 style="margin-top: 10px;">Pricing Tool</h2>
                                </br>
                                <label>Cost Per Case</label>
                                </br>
                                <input name="cost_per_case" type="number" step="any" placeholder="29.99" required>
                                </br>
                                <label>Discounts on Case Price</label>
                                </br>
                                <input name="discounts" type="number" step="any" placeholder="1.00" required>
                                </br>
                                <label>Quantity per Case</label>
                                </br>
                                <input name="quantity" type="number" placeholder="1.00" required>
                                </br>
                                <div class="row">
                                    <div class="col" style="height: 20px;">
                                        <div class="btn-group">
                                                <button style="width: 250;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                                                Type
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">Coors Light/Bud/Miller</a>
                                                    <a class="dropdown-item">Craft</a>
                                                    <a class="dropdown-item">Seltzer</a>
                                                    <a class="dropdown-item" >Other Macro Brew</a>  
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col" style="height: 20px;">
                                        <button type="submit" class="btn btn-success" value="Get Weather">Calculate</button>
                                    </div>
                            </div>
                            </form>
                        </fieldset>
                    </div>
                    <div class="col" align="center">
                        <h2 style="margin-top: 10px;">Delivery Manager</h2>
                        <button style="width: 100%" type="button" class="btn btn-warning" aria-haspopup="true" >Decresente</button>
                        </br>  
                        <button style="width: 100%" type="button" class="btn btn-warning" aria-haspopup="true" >Saratoga Eagle</button>
                        </br>  
                        <button style="width: 100%" type="button" class="btn btn-warning" aria-haspopup="true" >Sarene</button>
                        </br> 
                        <button style="width: 100%" type="button" class="btn btn-warning" aria-haspopup="true" >Remarkable Liquids</button>
                        </br>  
                        <button style="width: 100%" type="button" class="btn btn-warning" aria-haspopup="true" >Craft Beer Guild</button>
                        </br>
                        <button style="width: 100%" type="button" class="btn btn-warning" aria-haspopup="true" >Gasko & Meyer</button>
                    </div>
                    <div class="col" align="center">
                        <h2 style="margin-top: 10px;">Salesman Login</h2>
                        <button data-target="#salesmanModal" data-toggle="modal" style="margin-top: 30%; width: 75%" type="button" class="btn btn-success" aria-haspopup="true" >Sign In</button>
                    </div>
                    
                </div> 
                
                <div class="row">
                    <div class="col" align="center">
                        <h2 style="margin-top: 10px;">Customer Requests</h2>
                    </div>
                    <div class="col" align="center">
                        <h2 style="margin-top: 10px;">Shift Closeout</h2>
                        <button style="width: 100%" type="button" data-target="#lottoModal" data-toggle="modal" class="btn btn-warning" aria-haspopup="true" >Close Lotto</button>
                        <button style="width: 100%" type="button" data-target="#registerModal" class="btn btn-warning" aria-haspopup="true" >Close Registers</button>
                    </div>
                    <div class="col" align="center">
                        <h2 style="margin-top: 10px;">Distributor Portals</h2>
                    </div>
                </div> 
                
                    <div class="row">
                        <div class="col" align="center">
                            <h2 style="margin-top: 10px;">Lottery Performance</h2>
                        </div>
                        <div class="col" align="center">
                            <h2 style="margin-top: 10px;">Store Performance</h2>
                        </div>
                    </div>  
               
                
            </div>
  </body>

    <!--Lotto Modal -->
    <div id="lottoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
    </div>
    <!--Salesman Modal -->
    <div id="salesmanModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        
        </div>
    </div>
</html>